name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"

      - name: Install PHP dependencies
        run: composer install --no-dev

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install Node.js dependencies
        run: npm install

      - name: Build Vue app
        run: npm run build

      - name: Create Release Zip
        run: |
          mkdir -p releases/dashboardsearchbar
          cp -r lib appinfo/info.xml appinfo/routes.php README.md CHANGELOG.md .gitignore js img templates releases/dashboardsearchbar
          zip -r dashboardsearchbar.zip releases/dashboardsearchbar

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: ./dashboardsearchbar.zip
